/* Task 3 */

.image {
  width: 500px;
  height: 300px;
  margin-right: 10px;
  background-color: gray;
}

.list {
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

#gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Task_6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
